{
    "plugins": [
      "prettier-plugin-tailwind"
    ],
    "overrides": [
      {
        "files": "*.css",
        "options": {
          "parser": "postcss"
        }
      }
    ],
    "editor.formatOnSave": true
}